.panel_toolbox>li{
  float: right;
}

#patient_table_thead_name{
  width: 180px;
}

#patient_table_thead_country{
  width: 130px;
}

#patient_table_thead_gender{
  width: 60px;
}

#patient_table_thead_age{
  width: 60px;
}

#patient_table_thead_information{
  width: 180px;
}
